<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css/style.css" />
  </head>
  <body>
    <nav>
      <a href="/" class="nav-tag">Home</a>
      <a href="/books" class="nav-tag">Books</a>
      {{#if isAdmin}}
        <a href="/add-book" class="nav-tag">Add Book</a>
      {{/if}}
      {{#if session.user}}
        <p class="logout" class="nav-tag">Welcome
          {{session.user}}
          |
          <a href="/logout" class="nav-tag">Logout</a></p>
      {{else}}
        <a href="/login" class="login nav-tag">Login</a>
      {{/if}}
    </nav>
    {{{body}}}
  </body>
</html>