<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

  </head>
  <body>
    <h1 class="home-title">
      <div class="home-line large">
        <span class="home-span">W</span><span class="home-span">e</span><span
          class="home-span"
        >l</span><span class="home-span">c</span><span
          class="home-span"
        >o</span><span class="home-span">m</span><span
          class="home-span"
        >e</span>
        <span class="home-span">&nbsp;</span>
        <span class="home-span">t</span><span class="home-span">o</span>
      </div>
      <div class="home-line small">
        <span class="home-span2">M</span><span class="home-span2">y</span>
        <span class="home-span2">&nbsp;</span>
        <span class="home-span2">L</span><span class="home-span2">i</span><span
          class="home-span2"
        >b</span><span class="home-span2">r</span><span
          class="home-span2"
        >a</span><span class="home-span2">r</span>
        <span class="home-span2">y</span>
      </div>
      <p class="home-sub">A quiet corner of stories and dreams awaits you.</p>
    </h1>
  </body>
</html>